@import "../consts/";

.wrap {
  display: flex;
  justify-content: space-between;
  .borderRight {
    transform: rotate(90deg);
  }

  &.bottom {
    .borderLeft {
      transform: rotate(270deg);
    }
    .borderRight {
      transform: rotate(180deg);
    }
  }
}
